.table-responsive {
    border-radius: 15px;
    background: rgba(33, 40, 43, 0.7);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.table-responsive::-webkit-scrollbar {
    display: none;
}

.btn {
    opacity: 0.9;
}
