@font-face {
  font-family: 'Unbounded Regular';
  src: url(/assets/font/Unbounded-Bold.ttf);
}

html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, #000000 100%);
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.div1 { 
    position: fixed;
    grid-area: 1 / 1 / 2 / 2;
}

.div2 { 
    position: absolute;
    right: 2%;
    grid-area: 1 / 2 / 2 / 3;
    width: fit-content;
  }
  
  .link {
  text-align: right;
  font-family: 'Unbounded Regular';
  text-decoration: none;
  font-size: 2rem;
  color: aqua;
  line-height: 135%;
  opacity: 0.2;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.link:hover {
  color: aquamarine;
  opacity: 1;
}

.subname {
  font-family: 'Unbounded Regular';
  width: fit-content;
  margin-left: 1.1%;
  color: rgba(255, 255, 255, 0.636);
}


.name {
    text-align: left;
    font-family: 'Unbounded Regular';
    font-weight: 900;
    font-size: 12rem;
    width: fit-content;
    letter-spacing: 0;
    line-height: 10rem;
    transition: 0.8s ease-in-out;
    text-transform: uppercase;
    color: antiquewhite;
}

.name:hover {
    color: coral;
}

.ocean { 
  height: auto;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #000000;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}